@tailwind base;
@tailwind components;
@tailwind utilities;


#imgs{
    border-top-left-radius: 700px;
    border-bottom-left-radius: 700px;
    border-top-right-radius: 700px;
    border-bottom-right-radius: 700px;
    display: flex;
    align-items: center;
}
#container{
    width: 85%;
    margin: auto;
}
#cards  div{
   
    gap: 50px;
}